<!-- navbar -->
<nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
      <!-- the logo text-->
      <div>
        <h1 class="text-black text-xl font-bold">Achola's Icing</h1>
      </div>
  
      <!-- Menu Items -->
      <div class="hidden space-x-6 md:flex">
        <a href="{% url 'homepage' %}" class="">Home</a>
        <a href="#" class="">About Us</a>
        <!-- insert the link to the offers page here -->
        <a href="#" class="">Offers</a>
      </div>
      
      <a href="#"
        class="p-3 px-6 pt-2 bg-black text-white rounded-full baseline hover:bg-teal md:block">Make an order</a>

        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"
        class="p-3 px-6 pt-2 bg-black text-white rounded-full baseline hover:bg-teal md:block">Logout</a>
        {% else %}
        <!-- Button visible for unauthenticated users -->
        <a href="{% url 'login' %}"
        class="p-3 px-6 pt-2 bg-black text-white rounded-full baseline hover:bg-teal md:block">Login</a>
        {% endif %}
        
 
    </div>
  </nav>