{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% tailwind_css %}
</head>

<body>
    {% if messages %}
    <div id="dismissible-alert" class="bg-black-100 border border-green-400 text-blue-700 mx-10 px-4 py-3 rounded relative" role="alert">
      {% for message in messages %}
      <span class="block sm:inline">{{ message }}</span>
      <button type="button" class="absolute top-0 right-0 px-4 py-3" id="dismiss-alert">
        <span class="text-cyan-700">&times;</span>
      </button>
      {% endfor %}
    </div>
    {% endif %}
    <section class="h-screen">
        <div class="container h-full px-6 py-24">
            <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between py-10">

                <!-- Right column container with form -->
                <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <!-- Email input -->
                        <div class="relative mb-6">
                            <input type="text" class="border border-gray-300 rounded px-3 py-2 w-full" id="username" name="username" placeholder="Username" required>
                        </div>

                        <!-- Password input -->
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <input type="password" class="border border-gray-300 rounded px-3 py-2 w-full" id="password" name="password" placeholder="Password" required>
                        </div>

                        <!-- Remember me checkbox -->
                        <div class="mb-6 flex items-center justify-between">
                            <!-- <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
                                <input
                                    class=""
                                    type="checkbox" value="" id="exampleCheck3" checked />
                                <label class="" for="exampleCheck3">
                                    Remember me
                                </label>
                            </div> -->

                            <!-- Forgot password link -->
                            <!-- <a href="#!"
                                class="">Forgot
                                password?</a> -->
                        </div>

                        <div class="mb-6 flex items-center">
                            <a href="{% url 'register' %}"
                                class="">Don't
                                have an account? Register</a>
                        </div>

                        <!-- Submit button -->
                        <button type="submit"
                            class="">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        const dismissButton = document.getElementById('dismiss-alert');
        const alertContainer = document.getElementById('dismissible-alert');
      
        dismissButton.addEventListener('click', () => {
          alertContainer.style.display = 'none';
        });
      </script>
</body>

</html>