{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% tailwind_css %}
</head>

<body>
    {% if messages %}
    <div class="bg-warning-200 text-yellow-800 p-4 mb-4 rounded relative">
        {% for message in messages %}
        <span class="block sm:inline">{{ message }}</span>
        <!-- <button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" data-dismiss="alert" aria-label="Close">
            <svg class="fill-current h-6 w-6 text-yellow-700" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 5.652a1 1 0 0 0-1.414 0L10 8.586 6.066 5.652a1 1 0 1 0-1.414 1.414L8.586 10l-3.93 3.93a1 1 0 1 0 1.414 1.414L10 11.414l3.93 3.93a1 1 0 0 0 1.414-1.414L11.414 10l3.93-3.93a1 1 0 0 0 0-1.414z" />
            </svg>
        </button> -->
        {% endfor %}
    </div>
    {% endif %}
    <section class="h-screen">
        <div class="container h-full px-6 py-24">
            <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between py-10">

                <!-- Right column container with form -->
                <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        
                        {{ form.as_p }}

                        <!-- Submit button -->
                        <button type="submit"
                            class=""
                            data-te-ripple-init data-te-ripple-color="light">
                            Register
                        </button>
                    </form>
                    <a href="{% url 'login' %}"
                        class="">Already have an account? Login</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>