<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% extends 'base.html' %}

{% block content %}
<h1>Here are the available offers</h1>
<h1>Cake Offers</h1>
<ul>
    {% for cake in cakes %}
    <li>
        <h2>{{ cake.name_of_cake }}</h2>
        <p>{{ cake.description }}</p>
        <p>Pricing: {{ cake.pricing }}</p>
        <img src="{{ cake.image.url }}" alt="{{ cake.name_of_cake}} Image">
    </li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>